@charset "utf-8";

// @use "bulma/sass";
// // Load Bulma's base styles and themes (including the minireset)
@use "bulma/sass/base";
@use "bulma/sass/themes";

// Load other Bulma components
// @use "bulma/sass/base/skeleton";

// @use "bulma/sass/utilities";
// @use "bulma/sass/utilities/initial-variables";
// @use "bulma/sass/utilities/functions";
// @use "bulma/sass/utilities/derived-variables";
// @use "bulma/sass/utilities/controls";

// @use "bulma/sass/components";
// @use "bulma/sass/components/breadcrumb";
// @use "bulma/sass/components/card";
// @use "bulma/sass/components/dropdown";
// @use "bulma/sass/components/menu";
// @use "bulma/sass/components/message";
@use "bulma/sass/components/modal";
@use "bulma/sass/components/navbar";
// @use "bulma/sass/components/pagenation";
// @use "bulma/sass/components/panel";
// @use "bulma/sass/components/tabs";

// @use "bulma/sass/elements";
// @use "bulma/sass/elements/block";
// @use "bulma/sass/elements/box";
@use "bulma/sass/elements/button";
// @use "bulma/sass/elements/content";
@use "bulma/sass/elements/delete";
@use "bulma/sass/elements/icon";
@use "bulma/sass/elements/image";
@use "bulma/sass/elements/loader";
@use "bulma/sass/elements/notification";
// @use "bulma/sass/elements/progress";
@use "bulma/sass/elements/table";
// @use "bulma/sass/elements/tag";
// @use "bulma/sass/elements/title";

// @use "bulma/sass/form";
// @use "bulma/sass/form/checkbox-radio";
// @use "bulma/sass/form/file";
@use "bulma/sass/form/input-textarea";
@use "bulma/sass/form/select";
// @use "bulma/sass/form/shared";
@use "bulma/sass/form/tools";

@use "bulma/sass/grid";
// @use "bulma/sass/grid/columns";
// @use "bulma/sass/grid/grid";

// @use "bulma/sass/layout";
@use "bulma/sass/layout/container";
@use "bulma/sass/layout/footer";
// @use "bulma/sass/layout/hero";
// @use "bulma/sass/layout/level";
@use "bulma/sass/layout/media";
// @use "bulma/sass/layout/section";

@use "bulma/sass/helpers";
// @use "bulma/sass/helpers/aspect-ratio";
// // @use "bulma/sass/helpers/border";
// @use "bulma/sass/helpers/color";
@use "bulma/sass/helpers/flexbox";
// @use "bulma/sass/helpers/float";
// // @use "bulma/sass/helpers/gap";
// // @use "bulma/sass/helpers/overflow";
// @use "bulma/sass/helpers/position";
// @use "bulma/sass/helpers/spacing";
// // @use "bulma/sass/helpers/typography";
// // @use "bulma/sass/helpers/visibility";
// @use "bulma/sass/helpers/other";


* {
  touch-action: manipulation;
}

.is-25px {
  flex: none;
  width: 25px;
}

/* Bulmaのスタイルをカスタマイズする */
@mixin component-style() {
  border-radius: 4px;
  box-shadow: none;

  &.radius-unset {
    border-radius: unset;
  }

  &.radius-tl-unset {
    border-top-left-radius: unset;
  }

  &.radius-tr-unset {
    border-top-right-radius: unset;
  }

  &.radius-bl-unset {
    border-bottom-left-radius: unset;
  }

  &.radius-br-unset {
    border-bottom-right-radius: unset;
  }

  &.radius-left-unset {
    border-top-left-radius: unset;
    border-bottom-left-radius: unset;
  }

  &.radius-right-unset {
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
  }
}

.button {
  @include component-style;
}

.input {
  @include component-style;
}

.select select {
  @include component-style;
}

.input.is-large.radius-unset {
  height: 62px;
}

.button.is-button-large {
  height: 38px;
  display: flex;
}

.navbar-burger-left {
  margin-right: 0px;
}

.navbar-burger-right {
  margin-left: 0px;
}

div.is-vcentered {
  display: flex;
  align-items: center;
}
