node_modules
*.log*
.nuxt/*
.nitro
.cache
.output
.env
dist
.DS_Store
.eslintcache

**/test.vue
**/terms_of_service.vue
supabase/functions/README.md
_i18n.config.ts
.prettierignore
# store/
store/user_
app/components/SignInAdmin.vue
