name: Production - create release note

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  create-release-note:
    uses: ./.github/workflows/create-release-note.yaml

  # codacy:
  #   uses: ./.github/workflows/codacy-analysis.yaml
  #   secrets: inherit
