name: Update version

on:
  workflow_dispatch:
    inputs:
      version_type:
        description: 'Version type to update (patch, minor, major)'
        required: true
        type: choice
        options:
          - patch
          - minor
          - major
  workflow_call:
    inputs:
      version_type:
        description: 'Version type to update (patch, minor, major)'
        required: true
        type: string

jobs:
  update_version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.PAT_TOKEN }}

      - uses: actions/setup-node@v4
        with:
          node-version: '22.x'

      - run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

      - uses: pnpm/action-setup@v3
        name: Install pnpm
        with:
          version: 10.7.0
          run_install: false

      - name: Update version
        run: |
          pnpm version ${{ inputs.version_type }} --no-git-tag-version
          if git diff --quiet package.json; then
            echo "Error: package.json was not modified by pnpm version"
            exit 1
          fi
          git add package.json pnpm-lock.yaml
          git commit -m "chore: bump version (${{ inputs.version_type }})"
          git push
